In [18]:
from sklearn.utils import resample
import pandas as pd

In [19]:
df=pd.read_csv('train.csv')
df.columns=["text","value"]

In [20]:
df

                                                    text  value
0                              Your Chanel amazing💕😍 💯💯💯    0.0
1      CS IT Preparation ke liye ye channel best h:- ...    0.0
2      Ye video dekhne wale log hai isi hisab se dekh...    0.0
3                                         🙏 good lecture    0.0
4                                  Best thanks for video    0.0
...                                                  ...    ...
14122                 Never hot water la maranthurunga 😴    5.0
14123                                 Programmer pradeep    5.0
14124                                   Haha yesss.. 😄 🤣    5.0
14125       back when anand had hair and adhi didn&#39;t    5.0
14126                        @Vishnu sivanantham <br>Mmm    5.0

[14127 rows x 2 columns]

In [21]:
df = df.drop_duplicates(subset=['text'], keep='first')

In [22]:
df['value'] = df['value'].astype(int)
df

C:\Users\ganap\AppData\Local\Temp\ipykernel_12268\237327957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['value'] = df['value'].astype(int)

                                                    text  value
0                              Your Chanel amazing💕😍 💯💯💯      0
1      CS IT Preparation ke liye ye channel best h:- ...      0
2      Ye video dekhne wale log hai isi hisab se dekh...      0
3                                         🙏 good lecture      0
4                                  Best thanks for video      0
...                                                  ...    ...
14122                 Never hot water la maranthurunga 😴      5
14123                                 Programmer pradeep      5
14124                                   Haha yesss.. 😄 🤣      5
14125       back when anand had hair and adhi didn&#39;t      5
14126                        @Vishnu sivanantham <br>Mmm      5

[14118 rows x 2 columns]

In [23]:
df.dtypes

text     object
value     int32
dtype: object

In [24]:
print(["Happy", "Question", "Request", "Information","Unsatisfied","Irrelevant"])
df.groupby('value').count()

['Happy', 'Question', 'Request', 'Information', 'Unsatisfied', 'Irrelevant']

       text
value
0      5210
1      1978
2      2553
3      1042
4      2281
5      1054

In [32]:
data_minority_0 = df[df['value'] == 0]
data_minority_4 = df[df['value'] == 4]
data_minority_2 = df[df['value'] == 2]
data_minority_1 = df[df['value'] == 1]
data_minority_3 = df[df['value'] == 3]
data_minority_5 = df[df['value'] == 5]

In [33]:
data_minority_0.shape[0]

5210

In [34]:
# Upsample minority class
data_minority_upsampled_4 = resample(data_minority_4, 
                                 replace=True,     # sample with replacement
                                 n_samples= 1700,    # to match majority class
                                 random_state=123) # reproducible results
data_minority_upsampled_2 = resample(data_minority_2, 
                                 replace=True,     # sample with replacement
                                 n_samples= 1700,    # to match majority class
                                 random_state=123) # reproducible results
data_minority_upsampled_1 = resample(data_minority_1, 
                                 replace=True,     # sample with replacement
                                 n_samples= 1700,    # to match majority class
                                 random_state=123) # reproducible results
data_minority_upsampled_3 = resample(data_minority_3, 
                                 replace=True,     # sample with replacement
                                 n_samples= 1700,    # to match majority class
                                 random_state=123) # reproducible results
data_minority_upsampled_0 = resample(data_minority_0, 
                                 replace=True,     # sample with replacement
                                 n_samples= 1700,    # to match majority class
                                 random_state=123) # reproducible results
data_minority_upsampled_5 = resample(data_minority_5, 
                                 replace=True,     # sample with replacement
                                 n_samples= 1700,    # to match majority class
                                 random_state=123) # reproducible results
 
data_upsampled = pd.concat([data_minority_upsampled_0, data_minority_upsampled_3,data_minority_upsampled_5,data_minority_upsampled_2,data_minority_upsampled_4,data_minority_upsampled_1])

In [35]:
data_upsampled.groupby('value').count()

       text
value
0      1700
1      1700
2      1700
3      1700
4      1700
5      1700

In [36]:
data_upsampled

                                                   text  value
3582  Wooow, i start learning and first listen about...      0
3454  Sir America under great crisis is it safe for ...      0
1346                                 Thank you so much.      0
4060                 @brb4r  Oh Great! All the best bro      0
1593                            Kitni OSM he ye yaar ❤️      0
...                                                 ...    ...
6717                                 @Patrick Moore ???      1
6014  Hello sir,<br>I am cse first year student 2020...      1
6738  @CR7 FanClub will I get time to prepare for go...      1
6672             How to improve problem solving skills?      1
5994  But last year you have given two papers one EC...      1

[10200 rows x 2 columns]

In [38]:
data_upsampled.to_csv("final_dataset.csv")